@model TestSite1.Models.BaseCurrency

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>BaseCurrency</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="disclaimer" class="control-label"></label>
                <input asp-for="disclaimer" class="form-control" />
                <span asp-validation-for="disclaimer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="license" class="control-label"></label>
                <input asp-for="license" class="form-control" />
                <span asp-validation-for="license" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="timestamp" class="control-label"></label>
                <input asp-for="timestamp" class="form-control" />
                <span asp-validation-for="timestamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="baseData" class="control-label"></label>
                <input asp-for="baseData" class="form-control" />
                <span asp-validation-for="baseData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
